{% extends 'base.html.twig' %}
    {% block title %}My Great Website - admin page{% endblock %}
    {% block body %}
        <h1>Admin page</h1>
        <p>
            welcome admin!
        </p>

        
    {% endblock %}