{% extends 'base.html.twig' %}
    {% block title %}Phone Bid Site - home page{% endblock %}
    {% block body %}
        <h1>Welcome to our Phone Bidding Website</h1>
        <p>
            To start bidding please create an account and login.

        </p>



    {% endblock %}