{% extends 'base.html.twig' %}
    {% block title %}Phone Bid Site - home page{% endblock %}
    {% block body %}
        <h1> 📱 Welcome to our Phone Bidding Website</h1>
        <h4> To start bidding please create an account and login.    </h4>
        <br>
        <br>
        <h6> 🔥The Smart Phones that are featured on the home page are the trending phones 🔥</h6>

<style>
body{
                    background-color: white;
                }
</style>

<div class ="movingImages">
    <img src="{{ asset('images/phones.JPG') }}" alt="" >
    </div>


    {% endblock %}