{% extends 'base.html.twig' %}
    {% block title %}Phone Bid Site - home page{% endblock %}
    {% block body %}
        <h1> 📱 Welcome Admin</h1>
    
<style>
body{
                    background-color: white;
                }
</style>

    {% endblock %}