{% extends 'base.html.twig' %}
{% block title %}error{% endblock %}
{% block body %}
    Access Denied - Only admins can access this page!
    <p>
        <a href="{{ url('homepage') }}">Go Back to the site</a>
    </p>
{% endblock %}
