{% extends 'base.html.twig' %}

{% block title %}New ShipmentDetails{% endblock %}

{% block body %}
    <h1>Create new ShipmentDetails</h1>

    {{ include('shipment_details/_form.html.twig') }}

    <a href="{{ path('app_shipment_details_index') }}">back to list</a>
{% endblock %}
