{% extends 'base.html.twig' %}

{% block title %}Edit PurchaseDetails{% endblock %}

{% block body %}
    <h1>Edit PurchaseDetails</h1>

    {{ include('purchase_details/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_purchase_details_index') }}">back to list</a>

    {{ include('purchase_details/_delete_form.html.twig') }}
{% endblock %}
