{% extends 'base.html.twig' %}

{% block title %}New ShippingDetails{% endblock %}

{% block body %}
    <h1>Create new ShippingDetails</h1>

    {{ include('shipping_details/_form.html.twig') }}

    <a href="{{ path('app_shipping_details_index') }}">back to list</a>
{% endblock %}
